.wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list {
  & li:not(:last-child) {
    margin-bottom: 5px;
  }
  & li a {
    transition: all 300ms ease-in-out;
    &:hover,
    &:focus-visible {
      color: #c5c5c5;
    }
  }
}

.post_item {
  margin-bottom: 5px;
  & a {
    transition: all 300ms ease-in-out;
    &:hover,
    &:focus-visible {
      color: #c5c5c5;
    }
  }
}
